@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<p class="text-center">This <span class="h5 font-weight-bold">Mobile Store</span> project is belong to Daxua group.</p>
<p class="text-center">This project is developed due to the PRN292's final project.</p>
<p class="text-center font-italic">----- Release Date: 14/12/2019 -----</p>
