
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row mt-5">
    <div class="col text-center">
        <h3 class="font-weight-bold">Manage All Phones</h3>
    </div>
</div>
<!-- Create and search row section -->
<div class="row mt-5">
    <div class="col">
        <a href="#" class="btn btn-primary btn-material">Create New</a>
        <form action="#" class="form-inline float-right">
            <input type="search" class="form-control input-material" placeholder="Search by Name" size="30">
            <button type="submit" class="btn btn-link"><i class="fa fa-lg fa-search"></i></button>
        </form>
    </div>
</div><!-- End create and search row section -->
<!-- Table for all phone management section -->
<Table class="table mt-3">
    <thead>
        <tr>
            <th>No.</th>
            <th class="w-3"></th>
            <th>Model</th>
            <th>Brand</th>
            <th>UnitPrice</th>
            <th>Options</th>
            <th>Quantity</th>
            <th>Created Date</th>
            <th class="w-3"></th>
            <th class="w-3"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                <img src="assets/products/636863648672228468_ss-galaxy-s10-plus-trang-1_1.jpg"
                     class="img-manage">
            </td>
            <td class="font-weight-bold">Samsung Galaxy S10 Plus</td>
            <td>Samsung</td>
            <td>$999.9</td>
            <td>
                <small>2GB Ram - 128GB Rom - Blue</small><br>
                <small>3GB Ram - 256GB Rom - Red</small><br>
                <small>6GB Ram - 512GB Rom - Red</small><br>
            </td>
            <td class="text-center">
                <small>5</small><br>
                <small>15</small><br>
                <small>1</small>
            </td>
            <td>20-10-2019</td>
            <td>
                <a href="#" class="text-secondary"><i class="fas fa-times"></i></a>
            </td>
            <td>
                <a href="#" class="text-secondary"><i class="fas fa-cog"></i></a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <img src="assets/products/636863648672228468_ss-galaxy-s10-plus-trang-1_1.jpg"
                     class="img-manage">
            </td>
            <td class="font-weight-bold">Samsung Galaxy S10 Plus</td>
            <td>Samsung</td>
            <td>$999.9</td>
            <td>
                <small>2GB Ram - 128GB Rom - Blue</small><br>
                <small>3GB Ram - 256GB Rom - Red</small><br>
                <small>6GB Ram - 512GB Rom - Red</small><br>
            </td>
            <td class="text-center">
                <small>5</small><br>
                <small>15</small><br>
                <small>1</small>
            </td>
            <td>20-10-2019</td>
            <td>
                <a href="#" class="text-secondary"><i class="fas fa-times"></i></a>
            </td>
            <td>
                <a href="#" class="text-secondary"><i class="fas fa-cog"></i></a>
            </td>
        </tr>
    </tbody>
</Table><!-- End table for all phone management section -->
